[general]
SkinName = AlbumFlip
SkinDescription = by chundermike
SkinVersion = 1.0
SkinSize = 1920 1080
AlbumMode = Yes
#AlbumModeType = Singles
#AlbumModeType = OneTrack
#AlbumModeType = AllTracks
AlbumModeType = Album
AlbumModeArtworkMode = Auto
SelectButtonSequence = RowRow
SortAlbumsBy = random
SelectButtons = 1234567
AutoSelect = Yes
InstantPlay = no
AutoPlayGap = 0
SelectTimeout = 150
SelectHoldTimeout = 150
TitleStripAutoTurnTime  = 3500
TitleStripBackground = glass-blue-shadow.png
MaxPlaylistLength = 20
LoopPlayQueue = no
FreePlay = no
DuplicatesUseCredits = no
NoDuplicates = no
#NowPlayingArtworkMode = auto
SongsPerTitlestrip = 15
ScreenJump = 10
PairedSongDescription = ${ALBUM_TITLE}
ArtistDescription = ${ALBUM_ARTIST}
TitleStripSize = 210 270
ArtistText = 1 0 0 0 255 centre false -1 false -4 200 180
AlbumText = 1 0 0 0 255 centre false -1 false -4 224 180
SongText = 1 255 255 255 0 centre false 0 no 0 1282
PairSongs = no
TitleStripMoveStyle = 8 8 no
AlbumArtSize = 182 182
AlbumArtOffset = 10 10  
AlbumModeLineSpacing = 1
SongDescription = ${SONG_TITLE}
SongLoadTime = 2 secs
SongUnloadTime = 1.5 secs
#AudioVisualiser = Waveform oscilloscope
#AudioVisualiser = Synaescope
#AudioVisualiser = Frequency spectrum scope
#AudioVisualiser = Stereo visualizer
AudioVisualiser = GOOM: what a GOOM!
#AudioVisualiser = GOOM: what a GOOM! 2k1 edition
#AudioVisualiser = Monoscope

[fonts]
File = bluehigh.ttf 32
File = bluehigh.ttf 40

[status]
Position = 0 0
Size = 1920 1080
Contents = "${IF_VIDEO_PLAYING}${DRAW_VIDEO}${ELSE}${NOW_PLAYING_ARTWORK}${UNDRAW_VIDEO}"
TimerTickPeriod = 1

[title strip]
Position = 48 128
Angle = 0 330 0

[title strip]
Position = 308 128
Angle = 0 340 0

[title strip]
Position = 568 128
Angle = 0 350 0

[title strip]
Position = 828 128
Angle = 0 0 0

[title strip]
Position = 1088 128
Angle = 0 10 0

[title strip]
Position = 1348 128
Angle = 0 20 0

[title strip]
Position = 1608 128
Angle = 0 30 0

[status]
Bitmap = glass-blue-50.png
Position = 128 480
Size = 440 440
Angle = 0 270 [350 ${SONG_LOAD_POSITION}] 0
Text = 2 0 0 0 255 centre no 0 no 0 16 200
Contents = albums_now_playing.txt
LineSpacing = 1


[status]
Bitmap = glass-blue-shadow.png
Position = 1312 480
Size = 440 440
Angle = 0 90 [10 ${SONG_LOAD_POSITION}] 0
Text = 2 0 0 0 255 centre no 0 no 0 16 200
Contents = albums_coming_up.txt
LineSpacing = 1

[bitmap]
File = select_code_overlay.png
Position = 0 0
Size = 1920 1080
