[general]
SkinName = AlbumFlip - Singles Selection
SkinDescription = by chundermike
SkinVersion = 1.0
SkinSize = 1920 1080
Screenshot = albumflip_onetrack.jpg
AlbumMode = Yes
#AlbumModeType = Singles
AlbumModeType = OneTrack
#AlbumModeType = AllTracks
AlbumModeArtworkMode = Auto
SelectButtonSequence = RowRow
SortAlbumsBy = random
SelectButtons = 1234567
SelectButtons = 0123456789
SelectButtons = 0123456789
AutoSelect = Yes
InstantPlay = no
AutoPlayGap = 0
SelectTimeout = 150
SelectHoldTimeout = 150
TitleStripAutoTurnTime  = 3500
TitleStripBackground = glass-blue-shadow.png
MaxPlaylistLength = 20
LoopPlayQueue = no
FreePlay = no
DuplicatesUseCredits = no
NoDuplicates = no
#NowPlayingArtworkMode = auto
SongsPerTitlestrip = 12
ScreenJump = 10
SongDescription = ${STRIP_CODE} - ${SONG_TITLE}
ArtistDescription = ${ALBUM_ARTIST}
PairedSongDescription = ${ALBUM_TITLE}
TitleStripSize = 210 640
ArtistText = 1 0 0 0 255 centre false -1 false -4 200 180
AlbumText = 1 0 0 0 255 centre false -1 false -4 224 180
SongText = 3 255 255 255 0 left false -1 no 8 290 180
PairSongs = no
TitleStripMoveStyle = 8 8 no
AlbumArtSize = 182 182
AlbumArtOffset = 10 10  
AlbumModeLineSpacing = 0
SongLoadTime = 2 secs
SongUnloadTime = 1.5 secs
#AudioVisualiser = Waveform oscilloscope
#AudioVisualiser = Synaescope
#AudioVisualiser = Frequency spectrum scope
#AudioVisualiser = Stereo visualizer
AudioVisualiser = GOOM: what a GOOM!
#AudioVisualiser = GOOM: what a GOOM! 2k1 edition
#AudioVisualiser = Monoscope

[fonts]
File = bluehigh.ttf 32
File = bluehigh.ttf 40
File = bluehigh.ttf 24
File = bluehigh.ttf 80

[status]
Position = 0 0
Size = 1920 1080
Contents = "${IF_VIDEO_PLAYING}${DRAW_VIDEO}${ELSE}${NOW_PLAYING_ARTWORK}${UNDRAW_VIDEO}"
TimerTickPeriod = 1

[title strip]
Position = 48 64
Angle = 0 330 0

[title strip]
Position = 308 64
Angle = 0 340 0

[title strip]
Position = 568 64
Angle = 0 350 0

[title strip]
Position = 828 64
Angle = 0 0 0

[title strip]
Position = 1088 64
Angle = 0 10 0

[title strip]
Position = 1348 64
Angle = 0 20 0

[title strip]
Position = 1608 64
Angle = 0 30 0

[status]
Bitmap = glass-blue-50.png
Position = 428 780
Size = 440 270
Angle = 0 270 [350 ${SONG_LOAD_POSITION}] 0
Text = 2 0 0 0 255 centre no -1 no 10 16 250
Contents = now_playing.txt
LineSpacing = 1


[status]
Bitmap = glass-blue-shadow.png
Position = 1012 780
Size = 440 270
Angle = 0 90 [10 ${SONG_LOAD_POSITION}] 0
Text = 2 0 0 0 255 centre no -1 no 10 16 290
Contents = singles_coming_up.txt
LineSpacing = 1

[status]
Bitmap = glass-blue-50.png
Position = 880 880
Size = 120 120  
Text = 4 255 255 255 255 centre no 0 no 0 0 128
Contents = "${SELECT_CODE}"