[general]
SkinName = MCMLP
SkinDescription = by Dermbrian
SkinVersion = 2.0
SkinSize = 1920 1080
AlbumMode = Yes
AlbumModeType = AllTracks
AlbumModeArtworkMode = auto
SelectButtonSequence = RowRow
SortAlbumsBy = Random
SortSongsBy = Artist
SortSongsBy = AlbumArtist
SelectButtons = 012
SelectButtons = 0123456789
AutoSelect = Yes
InstantPlay = no
AutoPlayGap = 0
SelectTimeout = 4 seconds
SelectHoldTimeout = 150
TitleStripAutoTurnTime  = 70 seconds
MaxPlaylistLength = 59
LoopPlayQueue = no
FreePlay = no
DuplicatesUseCredits = no
NoDuplicates = no
NowPlayingArtworkMode = auto
SongsPerTitlestrip = 20
ScreenJump = 5
SortSongsBy = random
PairedSongDescription = ${ALBUM_TITLE}
ArtistDescription = ${ALBUM_ARTIST}
TitleStripSize = 189 279
AlbumText = 1 255 255 255 255 left true 0 false 0 244 170
ArtistText = 1 255 255 255 255 left true 0 false 0 223 170
SongText = 1 255 255 255 0 left yes 0 no 0 280 0
PairSongs = no
#TitleStripMoveStyle = 0 0 no
AlbumArtSize = 190 198
AlbumArtOffset = 00 00 
AlbumModeLineSpacing = 4
SongDescription = ${STRIP_CODE}  ${SONG_TITLE}
#SongLoadTime = 0.0 seconds

[fonts]

File = TCB_____.TTF 22
File = TCB_____.TTF 30
File = TCB_____.TTF 90
File = TCB_____.TTF 12
File = TCB_____.TTF 48


[status] # BUTTON PRESS SOUND
Contents = status_button_press.txt
Sound = keypress.wav 90

[status] # SELECTED SOUND
Contents = status_selected.txt
Sound = select.wav 90

[status] # COIN1 SOUND
Contents = status_coin1.txt
Sound = coin.wav 50

[status] # COIN2 SOUND
Contents = status_coin2.txt
Sound = coin2.wav 50

[bitmap]
#Color Organ Red   (Spectrum Band 1, the lowest frequencies processed)
Position = 689 36
Size = 544 541
File = 1.png
Tint = 255 255 255 0[255 ${SPECTRUM_BAND} 1]


[bitmap]
#Color Organ Purple Layer secondary
Position = 689 36
Size = 544 541
File = 2.png
Tint = 255 255 255 0 [150 ${SPECTRUM_BAND} 2]

[bitmap]
#Color Organ Purple Layer primary
Position = 689 36
Size = 544 541
File = 2.png
Tint = 255 255 255 0 [300 ${SPECTRUM_BAND} 3]


[bitmap] 
#Color Organ Green Layer secondary
Position = 689 36
Size = 544 541
File = 3.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 4]


[bitmap] 
#Color Organ Green Layer Primary
Position = 689 36
Size = 544 541
File = 3.png
Tint = 255 255 255 0 [255 ${SPECTRUM_BAND} 5]

[bitmap] 
#Color Organ Green Layer Secondary
Position = 689 36
Size = 544 541
File = 3.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 6]

[bitmap]
#Color Organ Yellow Layer secondary
Position = 689 36
Size = 544 541
File = 4.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 7]

[bitmap]
#Color Organ Yellow Layer primary
Position = 689 36
Size = 544 541
File = 4.png
Tint = 255 255 255 0 [255 ${SPECTRUM_BAND} 8]

[bitmap]
#Color Organ Yellow Layer secondary
Position = 689 36
Size = 544 541
File = 4.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 9]

[bitmap]
#Color Organ Blue Layer secondary
Position = 689 36
Size = 544 541
File = 5.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 10]

[bitmap]
#Color Organ Blue Layer primary
Position = 689 36
Size = 544 541
File = 5.png
Tint = 255 255 255 0 [255 ${SPECTRUM_BAND} 11]

[bitmap]
#Color Organ Blue Layer  secondary
Position = 689 36
Size = 544 541
File = 5.png
Tint = 255 255 255 0 [100 ${SPECTRUM_BAND} 12]

[bitmap]
#Color Organ White Middle  (Just to add something different)
Position = 689 36
Size = 544 541
File = 6.png
Tint = 255 255 255 0 [150 ${SPECTRUM_BAND} 13]

[bitmap]
#Color Organ White Middle  (Just to add something different)
Position = 689 36
Size = 544 541
File = 6.png
Tint = 255 255 255 0 [230 ${SPECTRUM_BAND} 14]

[bitmap]
#Color Organ White Middle  (Just to add something different)
Position = 689 36
Size = 544 541
File = 6.png
Tint = 255 255 255 0 [150 ${SPECTRUM_BAND} 15]

[bitmap]
Position = 687 630
Size = 550 430
File = Turntable Without Tonearm.png

[status]
Contents = LabelChange.txt

[status]
Position = 834 770
Size = 136 136
Tint = 0 [255 ${FIXED_RANDOM}]  0 [255 ${FIXED_RANDOM}] 0 [255 ${FIXED_RANDOM}] 255
Bitmap = labelcolor.png
Contents = labelcolor.txt

[status] # Spin Record
FileDirectory = RecordSpin
Position = 834 770
Size = 136 136
Contents = status_play.txt
TimerTickPeriod = 0.055 seconds
Tint = 255 255 255 255

[status]   # tonearm at rest, dark
Bitmap = smallertonearm.png
Contents = darkened.txt
Position = 1045 444
Size = 215 600


[status]   # tonearm movement
Bitmap = smallertonearm.png
Contents = Tonearm.txt
Position = 1045 444
Size = 215 600
Angle = 12 [35 ${NOW_PLAYING_ELAPSED_TIME}]

[status]   #  dark turntable
Contents = darkened.txt
Bitmap = darkened.png
Position = 687 630
Size = 550 430

[bitmap]
File = overlay.png
Position = 0 0
Size = 1920 1080

[status]
Visible = yes
#Position = 845 -100 [194 ${SONG_LOAD_POSITION}]
Position = 852 202
Size = 214 214
Contents = coverart.txt
TimerTickPeriod = 1

[title strip]
Position = 42 40

[title strip]
Position = 248 40

[title strip]
Position = 452 40

[title strip]
Position = 42 318

[title strip]
Position = 248 318

[title strip]
Position = 452 318

[title strip]
Position = 42 592

[title strip]
Position = 248 592

[title strip]
Position = 452 592

[title strip]
Position = 1282 40

[title strip]
Position = 1489 40

[title strip]
Position = 1696 40

[title strip]
Position = 1282 318

[title strip]
Position = 1489 318

[title strip]
Position = 1696 318

[title strip]
Position = 1282 592

[title strip]
Position = 1489 592

[title strip]
Position = 1696 592





[bitmap]
File = foreground.png
Position = 0 0
Size = 1920 1080

[status]            # credits
Position = 690 1018
Size = 60 40
Text = 2 0 0 0 200 centre false 1 false 0 0
Contents = status_credits.txt

[status]
Position = 1120 960
Size = 110 40
Text = 5 127 121 109 255 centre no 5 no 0 0 345
Contents = "${SELECT_CODE}"

[status]
Position = 1420 902
Size = 345 200
Text = 2 59 237 57 255 centre no 5 no 0 0 345
Contents = now_playing.txt
LineSpacing = 1
TimerTickPeriod = 1 seconds


[status]
Position = 167 902
Size = 345 200
Text = 1 59 237 57 255 centre no 5 no 0 0 345
Contents = coming_up.txt
LineSpacing = 1
TimerTickPeriod = 1 seconds
