#  See README.TXT file for information regarding this skin


 [general]
SkinName = RecordLibrary
SkinDescription = by Dermbrian
SkinVersion = 2.0
SkinSize = 1920 1080
AlbumMode = Yes
AlbumModeType = AllTracks
SelectButtonSequence = RowRow
SortAlbumsBy = Random
SortSongsBy = Album
SortSongsBy = AlbumArtist
SelectButtons = 01
SelectButtons = 0123456789
AutoSelect = Yes
InstantPlay = no
AutoPlayGap = 0
SelectTimeout = 150
SelectHoldTimeout = 150
TitleStripAutoTurnTime  = 3500
MaxPlaylistLength = 100
LoopPlayQueue = no
FreePlay = no
DuplicatesUseCredits = no
NoDuplicates = no
AlbumModeArtworkMode = auto
NowPlayingArtworkMode = auto
SongsPerTitlestrip = 150
ScreenJump = 10
TitleStripSize = 270 324
PairSongs = no
PairedSongDescription = ${ALBUM_TITLE}
ArtistDescription = ${ALBUM_ARTIST}
TitleStripMoveStyle = 20 0 no
AlbumArtSize = 266 270
AlbumArtOffset = 00 00 
AlbumText = 3 0 0 0 255 centre true -1 false 0 307 284
ArtistText = 2 0 0 0 255 centre true -1 false 0 286 284
SongText = 1 255 255 255 0 left yes 0 no 0 325
AlbumModeLineSpacing = 4
SongLoadTime = 6 secs
#SongUnloadTime = 0.5 secs

[fonts]
File = TCB_____.TTF 30
File = TCB_____.TTF 22
File = TCB_____.TTF 20
File = TCB_____.TTF 24
File = TCB_____.TTF 26
File = DigitaldreamSkewNarrow.ttf 48

#[status]
#Contents = ChangerAtStartup.txt
#TimerTickPeriod = 1 Second


[status] 			# BUTTON PRESS SOUND
Contents = status_button_press.txt
Sound = keypress.wav 90

[status] 			# SELECTED SOUND
Contents = status_selected.txt
Sound = select.wav 90

[status] 			# COIN1 SOUND
Contents = status_coin1.txt
Sound = coin.wav 50

[status] 			# COIN2 SOUND
Contents = status_coin2.txt
Sound = coin2.wav 50


[bitmap]
File = background.png
Position = 0 0
Size = 1920 1080




[status]
Position = 1278 748
Size = 335 314
Contents = coverart.txt


[title strip]
Position = 34 38

[title strip]
Position = 355 38

[title strip]
Position = 678 38

[title strip]
Position = 993 38

[title strip]
Position = 1310 38

[title strip]
Position = 1621 38


[title strip]
Position = 34 394

[title strip]
Position = 355 394

[title strip]
Position = 678 394

[title strip]
Position = 993 394

[title strip]
Position = 1310 394

[title strip]
Position = 1621 394



[status]            	# credits
Position = 1622 770
Size = 136 70
Text = 6 255 0 0 255 centre false 1 false 0 0
Contents = status_credits.txt

[status]            	# selection
Position = 1622  880
Size = 136 70
Text = 6 255 0 0 255 centre false 1 false 0 0
Contents = select.txt


[status]
Position = 1840 765
Size = 70 70
Bitmap = autoplay.png
Contents = autoplay.txt

[status]
Position = 1840 860
Size = 70 70
Bitmap = pause.png
Contents = pause_pressed.txt

[status] # Load Record Video
Video = LPchanger.mp4 100
Position = 20 738
Size = 590 329
Contents = status_load.txt


[status] # Spin Record
FileDirectory = RecordSpin
Position = 20 750
Size = 590 305
Contents = status_play.txt
TimerTickPeriod = 0.06 seconds



[status]   # tonearm movement
Bitmap = tonearm.png
Contents = Tonearm.txt
Position = 415 596
Size = 87 370
Angle = 0 [32 ${NOW_PLAYING_ELAPSED_TIME}]



[bitmap]   # LEFT VU BAR
file = vu_bar.png
Position = 1705 980
Size = 5 140
Angle = -40 [60 ${LEFT_SPECTRUM_BAND} 2]


[bitmap] 			
file = vu_bar.png 
Position = 1835 980
Size = 5 140
Angle = -40 [60 ${RIGHT_SPECTRUM_BAND} 2] 




[bitmap]
File = foreground.png
Position = 0 0
Size = 1920 1080


[status]
Position = 705 776
Size = 480 400
Text = 1 178 255 102 255 centre false -1 false 0 0 480
Contents = now_playing_song.txt
LineSpacing = 1
TimerTickPererereriiod = 60

[status]
Position = 705 806
Size = 480 400
Text = 5 178 255 102 255 centre false -1 false 0 0 480
Contents = now_playing_album.txt
LineSpacing = 1
TimerTickPererereriiod = 60




[status]
Position = 705 872
Size = 480 400
Text = 4 178 255 102 255 centre false -1 false 0 0 480
Contents = coming_up.txt
LineSpacing = 1

[status]
Position = 64 767
Size = 50 20
Text = 1 0 0 0 255 centre false -1 false 0 0 50
Contents = time_remaining.txt
LineSpacing = 1





[status] #  Sreensaver Image
FileDirectory = screensaver
Contents = screensaver.txt
Size = 1920 1080
Position = 0 0 
TimerTickPeriod = 45 Seconds



