[general]
SkinName = JukeInBar
SkinDescription = by John
SkinSize = 1920 1080
SkinVersion = 1.0
SortSongsBy = Title
SortSongsBy = Artist
SelectButtons = 123456789
SelectButtons = 0123456789
AutoSelect = Yes
SelectTimeout = 3 secs
SelectHoldTimeout = 3 secs
TitleStripAutoTurnTime = 0 min
SongsPerTitleStrip = 2
TitleStripSize = 243 81
TitleStripBackground = title-tag.png
SongHistoryDepth = 20
SongVolume = 70
SongVolumeStep = 2

PairSongs = Dual
ArtistDescription = ${SONG_ARTIST} / ${PAIRED_SONG_ARTIST}

TitleStripMoveStyle = 2 5 Yes 
SongLoadTime = 6.5 secs
SongUnloadTime = 3 secs
ArtistText = 7 145 21 0 255 centre true -1 false 0 7 210
AlbumText = 7 0 0 0 255 center false -1 false 0 0 210
SongText = 7 0 0 0 255 center true -1 false 2 6 210

[fonts]
File = typewriter.ttf 20
File = hatten.ttf 34
File = COURIER.TTF 20
File = atwriter.ttf 11
File = COURIER.TTF 28
File = SharpSansDispNo1-Medium.ttf 16
File = ariblk.ttf 14

[status]
Contents = status_page_turn.txt
Sound = turn-page.wav 100

[title strip]
Position = 28 522
MoveDelay = 0

[title strip]
Position = 28 611
MoveDelay = 3

[title strip]
Position = 28 701
MoveDelay = 6

[title strip]
Position = 28 791
MoveDelay = 9

[title strip]
Position = 28 881
MoveDelay = 12

[title strip]
Position = 28 971
MoveDelay = 15

; COLUMN B

[title strip]
Position = 295 611
MoveDelay = 18

[title strip]
Position = 295 701
MoveDelay = 21

[title strip]
Position = 295 791
MoveDelay = 24

[title strip]
Position = 295 881
MoveDelay = 27

[title strip]
Position = 295 971
MoveDelay = 30

; COLUMN C

[title strip]
Position = 563 701
MoveDelay = 33

[title strip]
Position = 563 791
MoveDelay = 36

[title strip]
Position = 563 881
MoveDelay = 39

[title strip]
Position = 563 971
MoveDelay = 42

; COLUMN D

[title strip]
Position = 829 791
MoveDelay = 45

[title strip]
Position = 829 881
MoveDelay = 48

[title strip]
Position = 829 971
MoveDelay = 51

; COLUMN E

[title strip]
Position = 1095 881
MoveDelay = 54

[title strip]
Position = 1095 971
MoveDelay = 57

; COLUMN F

[title strip]
Position = 1361 971
MoveDelay = 130

[status]
Contents = status_loading-sound.txt
Sound = J&R-original.wav 100

[status]
Contents = status_unloading-sound.txt
Sound = J&R-original-unload.wav 100

[bitmap]
File = song_none.png
Position = 1199 389
Size = 400 100
Angle = 3

[status]
Video = load_song.ogv
LoopVideo = no
Position = 1200 390
Size = 400 100
Contents = status_load.txt
TimerTickPeriod = 1
Angle = 3

[status]
Bitmap = play_song_01.png
Bitmap = play_song_02.png
Bitmap = play_song_03.png
Bitmap = play_song_04.png
Bitmap = play_song_05.png
Bitmap = play_song_06.png
Bitmap = play_song_07.png
Bitmap = play_song_08.png
Bitmap = play_song_09.png
Bitmap = play_song_10.png
Bitmap = play_song_11.png
Bitmap = play_song_12.png
Bitmap = play_song_13.png
Bitmap = play_song_14.png
Bitmap = play_song_15.png
Bitmap = play_song_16.png
Bitmap = play_song_17.png
Bitmap = play_song_18.png
Bitmap = play_song_19.png
Bitmap = play_song_20.png
Bitmap = play_song_21.png
Bitmap = play_song_22.png
Bitmap = play_song_23.png
Bitmap = play_song_24.png
Bitmap = play_song_25.png
Bitmap = play_song_26.png
Bitmap = play_song_27.png
Bitmap = play_song_28.png
Bitmap = play_song_29.png
Bitmap = play_song_30.png
Bitmap = play_song_31.png
Bitmap = play_song_32.png

Position = 1200 390
Size = 400 100
Contents = status_play.txt
TimerTickPeriod = 3
Angle = 3

[status]
Video = unload_song.ogv
LoopVideo = no
Position = 1200 390
Size = 400 100
Contents = status_unload.txt
TimerTickPeriod = 1
Angle = 3

[bitmap]
File = foreground.png
Position = 0 0
Size = 1918 1079
                                                                                                                                                                                                                                      
[status]
Position = 1222 505
Size = 280 50
Text = 5 254 245 229 255 center false -1 false 0 0 275
Contents = status0.txt
TimerTickPeriod = 50
linespacing = 1
Angle = 2.2

[status]
Position = 1232 640
Size = 270 140
Text = 5 254 245 229 255 center false -1 false 0 0 265
Contents = status1.txt
LineSpacing = 1
Angle = 3.5

[status]
Position = 1600 977
Size = 160 156
Text = 2 0 0 0 255 center false 0 false 0 0
Contents = status2.txt

[status]
Position = 1740 942
Size = 134 156
Text = 2 0 0 0 255 center false 0 false 0 0
Contents = status3.txt
TimerTickPeriod = 1 sec

[status]
Position = 1110 585
Size = 480 50
Text = 5 254 245 229 255 center false -1 false 0 0 245
Contents = status4.txt
TimerTickPeriod = 1 sec
Angle = 3

[status]
Position = 1273 554
Size = 480 50
Text = 5 254 245 229 255 center false -1 false 0 0 245
Contents = status5.txt
TimerTickPeriod = 1 sec
Angle = 2

[status]
Position = 1414 203
Size = 60 80
Video = smoke_fixed.mp4 0 yes
Initial = "${START_VIDEO}"
Contents = "${IF_TIMER_TICK}${DRAW_VIDEO}"

[status]
Position = 1566 584
Size = 30 150
Video = smoke2_fixed.mp4 0 yes
Initial = "${START_VIDEO}"
Contents = "${IF_TIMER_TICK}${DRAW_VIDEO}"

[status]
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-008.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-008.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-007.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-008.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-007.png
Bitmap = schlitz-008.png
Bitmap = schlitz-005.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-006.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png
Bitmap = schlitz-008.png

Position = 612 28
Size = 168 182
Contents = status_moving_background.txt
TimerTickPeriod = 3

[spectrum] # LEFT ANALYSER BARS
Bitmap = spectrum.png
Mode = scaled
Position = 1178 588
Size = 54 250
HorizontalFlip = yes
Decay = 2
Channel = left
Band = 0 1.0 0 0
Band = 2 1.0 0 0
Band = 4 1.0 0 0
Band = 6 1.0 0 0
Band = 9 1.0 0 0
Band = 12 1.0 0 0
Band = 15 1.0 0 0
Band = 18 0.5.0 0 0

[spectrum] # RIGHT ANALYSER BARS
Bitmap = spectrum.png
Mode = scaled
Position = 1509 608
Size = 55 273
HorizontalFlip = no
Decay = 2
Channel = left
Band = 0 1.0 0 0
Band = 2 1.0 0 0
Band = 4 1.0 0 0
Band = 6 1.0 0 0
Band = 9 1.0 0 0
Band = 12 1.0 0 0
Band = 15 1.0 0 0
Band = 18 0.5.0 0 0

SpectrumAudioSyncOffset = 0.3 Seconds

[bitmap]
File = blackbands.png
Position = 1172 790
Size = 401 119

[status]
Bitmap = wurly.png
Bitmap = wurly3.png
Position = 1282 529
Size = 147 48
Contents = status_moving_background.txt
TimerTickPeriod = 180

[status]
Bitmap = ezgif-frame-001.png
Bitmap = ezgif-frame-003.png
Bitmap = ezgif-frame-005.png
Bitmap = ezgif-frame-007.png
Bitmap = ezgif-frame-009.png
Bitmap = ezgif-frame-011.png
Bitmap = ezgif-frame-013.png
Bitmap = ezgif-frame-015.png
Bitmap = ezgif-frame-017.png
Bitmap = ezgif-frame-019.png
Bitmap = ezgif-frame-021.png
Bitmap = ezgif-frame-023.png
Bitmap = ezgif-frame-025.png

Position = 10 25
Size = 400 70 
Contents = status_moving_background.txt
TimerTickPeriod = 1













































