[general]
SkinName = Carousel
SkinDescription = Carousel Title Strip Demonstrator
SkinDescription = by chundermike
SkinSize = 1024 768
SortSongsBy = Title
SortSongsBy = Artist
# SelectButtons = ABCDEFGH
# SelectButtons = 123456
SelectButtons = 12345
SelectButtons = 0123456789
AutoSelect = Yes
SelectTimeout = 4 seconds
SelectHoldTimeout = 2 seconds
TitleStripAutoTurnTime = 1 minute
SongLoadTime = 100
SongUnloadTime = 100
NoDuplicates = 1
SongsPerTitleStrip = 12
PairSongs = dual
HideInvalidStripCodes = yes
TitleStripSize = 380 420
TitleStripBackground = strip6ws.jpg
TitleStripMoveStyle = 2 10 yes
SongText = 1 0 0 0 255 center false -1 false 14 4 150
ArtistText = 2 3 2 224 255 center true -1 false 10 5 130
ExtraText = 3 0 0 0 255 center true -1 false -80 4 48
ExtraText = 3 0 0 0 255 center true -1 false -80 40 48
SongDescription = ${SONG_TITLE}
ArtistDescription = ${SONG_ARTIST} / ${PAIRED_SONG_ARTIST}
ExtraDescription = ${STRIP_CODE}
ExtraDescription = ${PAIRED_STRIP_CODE}
AudioVisualiser = Synaescope

[fonts]
File = typewriter.ttf 18
File = typewriter.ttf 17
File = TCCM____.TTF 32
File = technology.bold.ttf 80
File = technology.bold.ttf 20

[status]
Contents = "${IF_SONG_LOADING}${PLAY_SOUND}"
Sound = recpop.wav 100

[status]
Contents = "${IF_BUTTON_COIN1_PRESSED}${PLAY_SOUND}"
Sound = coindrop.wav 70

[status]
Contents = "${IF_NOT_SONG_PLAYING}${IF_TITLE_STRIP_MOVING}${PLAY_SOUND}"
Sound = pagemove.wav 100

[bitmap]
File = foreground_lower.png
Position = 0 642
Size = 1024 126

[status]
Initial = "${DRAW_BITMAP}"
Contents = "${IF_TIMER_TICK}${IF_SONG_PLAYING}${DRAW_BITMAP}"
FileDirectory = RecordSpin
Size = 840 235
Clip = 97 515 840 235
Position = 97 400 [515 ${SONG_LOAD_POSITION}]
TimerTickPeriod = 3

[status]
Contents = "${IF_VIDEO_PLAYING}${DRAW_VIDEO}${ELSE}${UNDRAW_VIDEO}"
TimerTickPeriod = 1
Position = 200 80
Size = 624 440

[title strip]
Position = 66 80
StartAngle = 25
StopAngle = 155
Perspective = 30

[title strip]
Position = 578 80
StartAngle = 25
StopAngle = 155
Perspective = 30
MoveReverse = yes

[bitmap]
File = foreground_upper.png
Position = 0 0
Size = 1024 768

[status]
Position = 468 546
Size = 86 68
Text = 4 0 0 0 255 center false -1 false 0 0 86
Contents = "${SELECT_CODE}"

[status]
Position = 582 535
Size = 320 106
Text = 5 255 255 255 255 center false -1 false 0 0 300
Contents = now_playing.txt
TimerTickPeriod = 50
linespacing = 3

[status]
Position = 128 535
Size = 320 106
Text = 5 255 255 255 255 center false -1 false 0 0 300
Contents = coming_up.txt
LineSpacing = 3
